.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 36px;
    margin: 10px px;
    text-decoration: none;
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .1);
}

.nav-button:hover {
    background-color: #ff85c8;
    color: #fff;
}

.active {
    background-color: #c71585;
}

.navigation button.nav-button {
    width: 190px;
    height: 56px;
    margin: 10px px;
    text-decoration: none;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .1);
    cursor: pointer;
}
